@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&family=Outfit&display=swap");
@tailwind base;
@tailwind components;

.cart-width {
  @apply space-y-6;
}
.image-h-w {
  @apply w-[276px] h-[160px];
}
.cart-middle-section {
  @apply space-y-4;
}
.cart-middle-section-first-p {
  @apply w-[275px] h-[60px] font-primary font-semibold text-2xl text-white;
}
.cart-middle-section-second-p {
  @apply w-[275px] font-primary font-normal text-lg text-white;
}
.btn {
  @apply flex flex-row gap-x-3 rounded;
}
.btn--orange {
  @apply w-fit flex flex-row gap-x-3 bg-[#F80102] py-4 px-[32px] items-center;
}
.btn-img {
  @apply w-[24px] h-[24px];
}
.btn-txt {
  @apply font-primary font-bold text-lg text-justify text-white;
}
.section__top-paragraph {
  @apply text-white font-primary text-base font-semibold text-left uppercase;
}
.section__title {
  @apply text-white font-primary text-4.5xl font-semibold  text-left;
}
.customer-cart-layout {
  @apply py-5 px-8 flex items-center gap-6 bg-white;
}
.customer-cart__paragraph {
  @apply font-primary font-semibold text-xl text-gray-950 uppercase;
}
.featured-project__cart-paragraph {
  @apply font-primary font-semibold text-lg text-white;
}
.our-brochures__pdf-name {
  @apply font-primary font-semibold text-1.5xl text-white;
}
.news-and-event__box {
  @apply uppercase font-primary font-normal text-sm text-center border border-white px-[10px] rounded-[3px] text-white;
}
.news-and-event__text {
  @apply font-primary font-normal text-sm text-white;
}
.news-and-events__heading {
  @apply font-primary font-semibold text-2xl text-white;
}
.footer-cart__heading-text {
  @apply font-primary font-semibold text-2xl text-white uppercase;
}
.footer-cart__body-text {
  @apply font-primary font-normal text-sml text-white;
}
.about-wedlock__numeric-value {
  @apply font-primary font-bold text-[2.375rem] leading-10 text-white;
}
.about-wedlock__numeric-value-text {
  @apply font-primary font-normal text-base text-white leading-[1.625rem] uppercase;
}
@tailwind utilities;
